<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars<h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>

  <!-- Latest Mars News -->
    <div class="row" id="mars-items">
      <div class="col-md-12">
        <h4 class="heading">{{items.Title}}{{items.Photo}}</h4>
        <small>{{items.Summary}}</small>
      </div>
    </div>  
    <div class="row">
      <div class="column">
        <img src="/Users/laurelwilliamson/Downloads/cerberus_enhanced.jpg">
      </div>
      <div class="column">
        <img src="/Users/laurelwilliamson/Downloads/schiaparelli_enhanced.jpg">
      </div>
      <div class="column">
        <img src="/Users/laurelwilliamson/Downloads/syrtis_major_enhanced.jpg">
      </div>
      <div class="column">
        <img src="/Users/laurelwilliamson/Downloads/valles_marineris_enhanced.jpg">
      </div>
    </div>
    <table class="table table-striped table-dark">
      <thead>
        <tr>{{items.Table}} </tr>
      </tbody>
    </table>
    

  </div>
</body>

</html>

